{% extends 'base.html' %} {% block title %}Register | College ERP{% endblock %}
{% block content %}
<div
  class="d-flex justify-content-center align-items-center"
  style="min-height: 70vh"
>
  <div class="col-md-6 col-lg-5">
    <div class="card shadow-lg rounded-4">
      <div
        class="card-header bg-primary text-white text-center fw-semibold rounded-top-4"
      >
        User Registration
      </div>
      <div class="card-body p-4">
        <form method="post">
          {% csrf_token %}

          <!-- First Name -->
          <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input
              type="text"
              class="form-control"
              name="first_name"
              required
            />
          </div>

          <!-- Last Name -->
          <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="last_name" required />
          </div>

          {% if messages %} {% for message in messages %}
          <div class="alert alert-danger">{{ message }}</div>
          {% endfor %} {% endif %}

          <!-- Email -->
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" required />
          </div>

          <!-- Password -->
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              required
            />
          </div>

          <!-- Role Selection -->
          <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <select class="form-select" name="role" id="role">
              <option value="student" selected>Student</option>
              <option value="librarian">Librarian</option>
              <!-- <option value="teacher">Teacher</option>
              <option value="admin">Admin</option>
              <option value="clerk">Clerk</option> -->
            </select>
          </div>

          <button type="submit" class="btn btn-primary w-100 py-2">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
